@mixin text_hover_bottomLine{
    background-image: linear-gradient(#fff,#fff);
    background-size: 0 1px;
    background-position: center bottom;
    background-repeat: no-repeat;
    &:hover{
        background-size: 100% 1px;
        margin-bottom: -4px;
        transition: all .2s ;
    }
    &:active{
        background-size: 0% 1px;
        transition: all .2s ease-in-out;
    }

}
