//reset <--基本設定

@import "./base/reset.scss";
@import "./base/fonts.scss";
@import "./base/variables.scss"; //<-- 動畫與變數

//pages <--頁面
@import "./pages/index.scss";

//layout <--重複的頁面
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/float_button.scss";

/*-----------------*\
    以下為版面控制
\*-----------------*/
body {
  font-family: "my_font";
  position: relative;
}
button,
input,
textarea {
  outline: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
h2 {
  line-height: 5.625rem;
  font-size: 3rem;
  color: #650300;
  text-align: center;
}
.row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .header {
    padding: 30px 40px;
  }
  .index_banner h2 {
    padding-right: 40px;
  }
  .index_profession {
    padding: 64px 40px 80px 40px;
  }
  .index_cassic {
    padding: 40px 40px 80px 40px;
  }
  .index_design {
    padding: 40px 40px 80px 40px;
  }
  .index_recommend {
    padding: 40px 40px 64px 40px;
  }
  .index_contactUs{
    padding: 40px 104px 48px 104px;
  }
  .footer {
    padding: 36px 40px 28px 40px;
  }
}
@media (max-width: 1000px) {
  .index_cassic {
    .types li {
      height: 168px;
    }
    .icon_diamond,
    .icon_sun,
    .icon_thunder {
      width: 2.286rem;
      height: 2.286rem;
    }
    .icon_diamond {
      width: 2.8rem;
    }
    .icon_thunder {
      width: 1.7rem;
    }
    li h3 {
      font-size: 2rem;
    }
  }
}
@media (max-width: 768px) {
    h2{
        line-height: 3.214rem;
        font-size: 2.286rem;
    }
   .header{
       .nav li{
           margin-right: 40px;
       }
   } 
  .index_banner {
    background: url(../images/index/banner-sm.png) no-repeat;
    background-size: cover;
    h2{
        line-height: 4.786rem;
        font-size: 3.429rem;
    }
    span{
        font-size: 1.429rem;
        line-height: 2rem;
    }
  }
  .index_profession {
    padding: 40px 40px 40px 40px;
    
  }
  .index_profession h2{
    line-height: 3.214rem;
    font-size: 2.286rem;
    margin-bottom: 32px;
  }
  .index_profession .profession_type {
    flex-wrap: wrap;
    .icon-1,
    .icon-2,
    .icon-3,
    .icon-4 {
      width: 80px;
      height: 80px;
      margin-bottom: 16px;
    }
  }
  .index_profession .profession_type li {
    width: calc(100% / 2 - 15px);
    margin-right: 30px;
    margin-bottom: 40px;
    padding: 0px 28px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .index_cassic {
      h2{
          margin-bottom: 32px;
      }
    .types li {
      height: 168px;
    }
  }
  .row-reverse {
    flex-direction: row;
  }
  .index_cassic li.row-reverse h3 {
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
  }
  .index_design {
      li{
        height: 280px;
        line-height:280px;
      }
      li p{
        font-size: 2.286rem;
      }
  }
  .index_recommend h2{
      margin-bottom: 32px;
  }
  .index_recommend ul {
    flex-wrap: wrap;
  }
  .index_recommend li {
    width: calc(100% / 2 - 15px);
    margin-bottom: 28px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .index_contactUs {
    
    h2{
        margin-bottom: 16px;
    }
    h3{
        line-height: 1.714rem;
        font-size: 1.143rem;
    }
    input,textarea{
        padding: 8px 0 8px 12px;
        width: calc(100% - 12px);
    }
    li.button button{
        width: 210px;
        height: 36px;
    }
  }
  .footer{
    .logo{
        display: none;
    }
    .nav li{
          margin-right: 40px;
      }
    .media div{
        width: 24px;
        height: 24px;
        margin-right: 24px;
    }
    .contact_us{
        line-height: 26px;
        font-size: 20px;
        padding-bottom: 16px;
    }
    .contact_us li{
        margin-bottom: 8px;
    }
    .contact_us .icon_mail{
        width: 32px;
        height: 32px;
    }
    .contact_us .icon_phone{
        width: 32px;
        height: 24px;
    }
  }
}
@media (max-width:680px){
  .index_cassic {
    padding: 32px 0 32px 0;
    h2{
        margin-bottom: 20px;
    }
    .types li{
        position: relative;
        height: 134px;
        h3{
          background-position: center bottom;
          background-size: 0 1px;
          transition: all 0.2s ease-in-out;
        }
        &:hover{
            border-radius: 0;
            h3{
                @include text_hover_bottomLine;
            }
        }
        .banner-1,.banner-2,.banner-3{
            width: 100%;
        }
        h3{
            color: #fff;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 0;
        }
    }
    .icon_diamond{
        background: url(./../images/index/icon_product_diamond-white.svg)no-repeat;
        background-size: cover;
    }
    .icon_sun{
        background: url(./../images/index/icon_product_sun-white.svg)no-repeat;
        background-size: cover;
    }
    .icon_thunder{
        background: url(./../images/index/icon_product_thunder-white.svg)no-repeat;
        background-size: cover;
    }

  }
  .footer{
    position: relative;
    padding: 24px 15px 20px 15px;
    .logo{
        display: block;
        width: 46px;
        height: 28px;
        position: absolute;
        bottom: 20px;
        right: 15px;
        margin-right: 0;
    }
    .contact_us .icon_phone{
        width: 20px;
        height: 20px;
    }
    .contact_us .icon_mail{
        width: 20px;
        height: 20px;
    }
    .nav_area{
        margin-bottom: 0;
    }
    .nav_area .nav{
        display: none;
    }
    .nav_area .media{
        position: absolute;
        right: 15px;
        top: 24px;
    }
    .copyright_area{
        margin-top: 18px;
        flex-direction: column;
        align-items: flex-start;
    }
    .copyright p{
        line-height: 19px;
        font-size:14px;
        margin-bottom: 7px;
    }
    .description{
        flex-direction: column;
        align-items: flex-start;
    }
    .description li{
        margin-right: 0;
        margin-bottom: 8px;
        &:hover{
            margin-bottom: 8px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
}
@media(max-width:600px){
  .index_banner_wrap{
    height: calc(100vh - 78px);
  }
  .header{
    padding: 15px 10px;
    .nav{
      font-size: 15px;
      li{
        margin-right: 20px;
      }

    }
  }
}
//520 .footer
@media(max-width:520px){
  .footer{
    position: relative;
    padding: 24px 15px 20px 15px;
    .logo{
        display: block;
        width: 46px;
        height: 28px;
        position: absolute;
        bottom: 20px;
        right: 15px;
        margin-right: 0;
    }
    .contact_us .icon_phone{
        width: 20px;
        height: 20px;
    }
    .contact_us .icon_mail{
        width: 20px;
        height: 20px;
    }
    .nav_area{
        margin-bottom: 0;
    }
    .nav_area .nav{
        display: none;
    }
    .nav_area .media{
        position: absolute;
        right: 15px;
        top: 24px;
    }
    .copyright_area{
        margin-top: 18px;
        flex-direction: column;
        align-items: flex-start;
    }
    .copyright p{
        line-height: 19px;
        font-size:14px;
        margin-bottom: 7px;
    }
    .description{
        flex-direction: column;
        align-items: flex-start;
    }
    .description li{
        margin-right: 0;
        margin-bottom: 8px;
        &:hover{
            margin-bottom: 8px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
}
@media (max-width:420px){
  .index_banner_wrap{
    height: calc(100vh - 142px);
  }
    h2{
        line-height:33px;
        font-size: 24px;
    }
    .header{
        flex-direction: column;
        padding: 10px 0 0 0;
        .logo{
            width: 48px;
            height: 30px;
            margin-bottom: 10px;
        }
        .nav{
            flex-wrap: wrap;
            width: 100%;
        }
        .nav li{
            margin-right: 0;
            width: 50%;
            box-sizing: border-box;
            border: 1px solid #fff;
            text-align: center;
            padding: 8px 0;
            &:hover{
                background-image:none;
                margin-bottom: 0;
                a{
                    letter-spacing: 5px;
                    transition: .2s all ease-in-out;
                }
            }
        }
    }
    .index_banner{
        height: 394px;
        line-height:394px;
        span{
            line-height:22px;
            font-size:16px;
        }
        h2{
            line-height:45px;
            font-size: 32px;
        }
    }
    .index_profession{
        padding: 32px 0 12px 0;
        .profession_type li{
            width: 100%;
            margin:0 0 40px 0;
            padding: 0px 69px;
        }
        .profession_type li p{
            font-size: 16px;
            line-height:24px;
        }
    }
    .index_profession h2 {
        line-height:33px;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .index_design{
        padding: 32px 15px 16px 15px;
        h2{
            margin-bottom: 20px;
        }
        .design_type{
            flex-direction: column;
            flex-wrap: wrap;
        }
        li{
            width: 100%;
            margin: 0 0 16px 0;

        }
    }
    .index_recommend{
        padding: 32px 15px 16px 15px;
        h2{
            margin-bottom: 20px;
        }
        li{
            width: 100%;
            margin: 0 0 16px 0;
        }
        li .name{
            line-height: 19px;
            font-size: 14px;
            margin-bottom: 16px;
        }
        li p {
            line-height: 24px;
            font-size: 16px;
            margin-bottom: 16px;
        }
        li .time{
            line-height: 19px;
            font-size: 14px;
        }

    }
    .index_contactUs{
        padding: 32px 15px 16px 15px;
        h2{
            margin-bottom: 20px;
        }
        h3{
            line-height:24px;
            font-size: 16px;
        }
        label,input{
            line-height:20px;
            font-size: 14px;
        }
        li.button{
            button{
                width: 165px;
                padding-top: 0px;
            }
        }
    }  
}
@media (max-width:344px){
  .index_banner{
    h2{
      line-height: 40px;
      font-size: 30px;
    }
  }
}
